name = "royal-coast-invoice-site"
main = ".open-next/worker.js"

compatibility_date = "2025-04-01"
compatibility_flags = ["nodejs_compat"]

[vars]
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_d2FudGVkLWNyaWNrZXQtMzkuY2xlcmsuYWNjb3VudHMuZGV2JA"
CLERK_SECRET_KEY = "sk_test_8wF377a5VPS00rty9udUAADvFRpvJrYZJGPd8LDnD8"
NEXT_TELEMETRY_DISABLED = "1"

[env.production.vars]
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_d2FudGVkLWNyaWNrZXQtMzkuY2xlcmsuYWNjb3VudHMuZGV2JA"
NEXT_TELEMETRY_DISABLED = "1"

[[hyperdrive]]
binding = "HYPERDRIVE"
id = "efa3b48e319949a288dcaf9c4ef080a5"
